html,body{
    height: 100%;
padding:0px;
margin:0px;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}

#site-header{
	background-color: rgb(53,53,53);
	padding:5px;
	border-bottom: rgb(80,80,80) solid 4px;
	color:#FFFFFF;
}

#wrapper{

        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
}

#site-header p{
	color: #FFFFFF;
	font-size:140%;
	margin:0px;
}
#site-header a{
	color: #FFFFFF;
	margin:0px;
}
#site-header a:hover{
	text-decoration: none
}

#holder{
    min-height: 100%;
    position:relative;
}

.footer{
	background-color: rgb(160,160,160);
	color:#FFFFFF; 
	clear:both; 
	height:70px;
}

.jumbotron{
	background-image: url(../img/bg.jpg);
	color:#FFF;
	padding-top:0px;
}

.subtitle{
	font-size:80%;
	color: rgb(160,160,160);
}

.super{
	margin-top:-10px;
}

#content{
}

#content p{
	text-align:justify;
}

#profile-list{
	list-style: none;
	margin-left:-40px;
}